/* Catppuccin Frappe theme https://catppuccin.com/palette */
:root {
    --base: #303446;
    --mantle: #292c3c;
    --crust: #232634;

    /* Text colors */
    --text: #c6d0f5;
    --subtext0: #a5adce;
    --subtext1: #b5bfe2;

    /* Overlay colors */
    --surface0: #414559;
    --surface1: #51576d;
    --surface2: #626880;

    /* Accent colors */
    --overlay0: #6c7086;
    --overlay1: #7c7f93;
    --overlay2: #8c8fa1;

    /* Colors */
    --blue: #8caaee;
    --lavender: #babbf1;
    --rosewater: #f2d5cf;
    --flamingo: #eebebe;
    --pink: #f4b8e4;
    --mauve: #ca9ee6;
    --red: #e78284;
    --maroon: #ea999c;
    --peach: #ef9f76;
    --yellow: #e5c890;
    --green: #a6d189;
    --teal: #81c8be;
    --sky: #99d1db;

    background-color: var(--base);
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Rethink Sans', sans-serif;
    background-color: var(--base);
    color: var(--text);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text);
    margin: 10px;
}

a {
    color: var(--blue);
    text-decoration: none;
}

a:hover {
    color: var(--teal);
}

/* Button styles */
button {
    background-color: var(--blue);
    color: var(--crust);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--sky);
}

input {
    background-color: var(--overlay2);
    border: 0px none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--blue);
    transition: border-color 0.3s;
    width: 100%;
}

input:focus {
    border-color: var(--teal);
    outline: none;
}

.container {
    position: relative;
    width: 50%;
    margin: auto;
    overflow: hidden;
}

.solid {
    background-color: var(--mantle);
    border-radius: 15px;
    border: 5px solid var(--crust);
}

#urlInput {
    flex: 4;
    border-radius: 8px;
}

#urlSubmit {
    flex: 1;
    border-radius: 8px;
}

#inputForm {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}

#generatedUrlContainer {
    margin-top: 20px;
    padding: 10px;
    background-color: var(--surface0);
    border-radius: 5px;
    border: 1px solid var(--blue);
    margin: 10px;
}

#generatedUrl {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 95%;
}
