<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smoll Url</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.bunny.net/css?family=rethink-sans:400&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <meta content="Smoll Url" property="og:title">
    <meta content="404 - Page not found" property="og:description">
    <meta name="theme-color" content="#bb86fc">
</head>
<body>
    <div class="container">
        <h1>404 - Page Not Found</h1>
    </div>
</body>
</html>
